@model WebSellWatch.ModelViews.LoginViewModel

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blog_details" style="margin-top: 170px">
    <div class="blog_comment_form">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="comments_form">
                        <h3 style="text-align:center"> Đăng Nhập </h3>
                        <form asp-action="Login" method="post" style="text-align:center">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-md-12">
                                
                                    <input type="email" asp-for="UserName" placeholder="Địa chỉ Email">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <input type="password" asp-for="Password" placeholder="Mật khẩu">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                       
                            <button style="margin-bottom:100px" class="btn btn-primary" type="submit">Đăng nhập</button>
                        </form>
                        </>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
